<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>dsr</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="container">
      <form method="post" action="/login">
        <label for="lname">Email</label>
        <input type="text" id="lname" name="email" placeholder="Your email.." />

        <label for="lname">Password</label>
        <input type="password" id="pswd" name="pswd" placeholder="Password.." />

        <input type="submit" value="Login" />

        <h4><%=locals.message%></h4>
      </form>
    </div>
  </body>
</html>
